<div ng-controller="ProductsCtrl">
<div class="row-fluid">
  <div class="page-header">
    <h1>Product List <small>Edit items</small></h1>
    <span>{{organization}}</span>
  </div>
  <div class="row-fluid">
  	<form class="form-inline">
	    <button class= "btn btn-success" id = "add-product" data-toggle="modal" data-title="Add new product" data-target="#add-product-modal">
	    <i class="icon-white icon-plus-sign"></i> Add new product</button>
    <div style="float: right;">
		<label style="float:left;margin-top:4px;" class="control-label" for="productnamesearch">Search by Product Name:&nbsp;&nbsp;</label>
		<input style="float:left;" id="productnamesearch" type="text" ng-model="productsearch.name">
	</div>
	</form>
  </div>
</div>
<div class="col-md-3">
  <div class="table-responsive">
    <table id="producttable" class="table table-bordred table-striped">
      <thead>
      	<tr>
      	<th>Product Image</th>
        <th>Product Name</th>
        <th>Price(Per Kg)</th>
        <th>Edit Product</th>
        <th>Delete Product</th>
        </tr>
      </thead>
      <tbody>
      
        <tr id="list" dir-paginate="product in products | orderBy:'name'| filter:productsearch | itemsPerPage: 10">
		<td><img  src="{{product.imageUrl}}" style="width: 25; height: 25;" onmouseover="this.width='100';this.height='100'" onmouseout="this.width='25';this.height='25'" /></td> 
		<td>{{ product.name }}</td>
        <td>{{ product.unitRate }}</td>
        <td>
            <p data-placement="top" data-toggle="tooltip" title="Edit">
              <button  id="btn-edit" ng-click="editCurrentProduct(product)" class="open-edit-modal btn btn-primary btn-xs" data-title="Edit"  data-toggle="modal" data-target="#edit-product-modal">
              <i class="icon-white icon-pencil"></i> Edit</button>
            </p>
        </td>
        <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete">
              <button  id="btn-delete" ng-click="deleteCurrentProduct(product)" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete-product-modal" >
              <i class="icon-white icon-trash"></i> Delete</button>
            </p>
       </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<dir-pagination-controls id="pagination-manage-users" boundary-links="true" th:attr='template-url=@{/static/js/dirPagination.tpl.html}'></dir-pagination-controls>

<div class="modal fade" id="edit-product-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
      <h4 class="modal-title custom_align" id="HeadingEdit"></h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal"> 
		  <div class="control-group">
			<label class="control-label" id="update-product-list-input-name"></label>
			<div class="controls">
			  <input type="text" class="input-small" id="update-product-name-input" />
			</div>
		  </div>
		  <div class="control-group">	   
		    <label class="control-label" id="update-product-input"></label>
			<div class="controls">
			  <input type="text" class="input-small" id="update-price-input" />
		    </div>
		  </div>
	  </form>
	  </div>
    </div>
  <div class="modal-footer ">
    <button type="button" id = "update-product" ng-click="updateEditCurrentProduct()" class="btn btn-warning"><i class="icon-white icon-pencil"></i>  Update</button>
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
  </div>
</div>
<!-- /.modal-content --> 

<!-- /.modal-dialog --> 
<div class="modal fade" id="delete-product-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="HeadingDelete">Delete this entry</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" ng-click="yesButtonDeleteProduct()" id="delete-product" ><i class="icon-white icon-ok"></i> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> No</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<div class="modal fade" id="add-product-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAdd" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> </button>
      <h4 class="modal-title custom_align" id="HeadingEdit">Add New Product</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal"> 
		  <div class="control-group">
		    <label class="control-label" for="new-product-input">Product</label>
			<div class="controls">
			  <input type="text" class="input-large" id="new-product-input" placeholder="Potato" />
			</div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="new-product-type-input">Product Type</label>
			<div class="controls">
				<select id="new-product-type-input">
				  <option value='' disabled selected="selected" style='display:none;'>-Select-</option>
				  <option th:each="productType : ${productTypes}" th:value="'productTypes/' + ${productType.productTypeId}" th:text="${productType.name}">Product type</option>
				</select>
			</div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="new-price-input">Price</label>
			<div class="controls">
			  <input type="text" class="input-large" id="new-price-input" placeholder="45"/>
			</div>
		  </div>
		  <div class="control-group">
		  	<div id="pictureBox">
		  		<img id="productImage" style='float:right;' src="#" alt="your image" />
		  	</div>
		    <label class="custom-file-upload btn btn-info btn-small" role="button">
		    		<input id="product-image-file" type="file" size = "4" onchange="readURL(this);" name="myProductImage" file-model="myProductImage" />
					<i class="icon-folder-open icon-white"></i> Choose Product Image
			</label>
			<span id="product-image-name"></span>
		 </div>
	  </form>
    </div>
  </div>
  <div class="modal-footer ">
    <button type="button" class="btn btn-success" id="add-new-product" ><i class="icon-white icon-ok"></i> Add</button>
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button> 
  </div>
</div>
<!-- /.modal-content --> 
<!-- /.modal-dialog -->

<div class="modal fade" id="product-add-failed-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAddFailed" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="HeadingAddFailed">Failed to add product</h4>
      </div>
      <div class="modal-body">
	    <b>Technical details:</b><br/>
        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>{{failure}}</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> OK</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="product-add-success-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAddSuccess" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="HeadingAddSuccess">Product added</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success"><span class="glyphicon glyphicon-success-sign"></span>Product <b>{{productName}}</b> successfully added!</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="icon-white icon-remove"></i> OK</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

</div>